<!DOCTYPE html>
<html lang=“en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Login</h3>
                    <p class="text-center text-muted">Be careful! You can only input this once and it is related to your
                        scores!</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('login') }}">
                        <div class="mb-3">
                            <label for="classSelect" class="form-label">Class</label>
                            <select class="form-select" id="classSelect" name="class" required>
                                <option value="not select" selected>Please select your class</option>
                                {% for class in classes %}
                                    <option value="{{ class }}">{{ class }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="nameInput" name="name"
                                   placeholder="Please enter your name" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>
